
@mixin clearfix{
    &::after{
        content:"";
        display: table;
        clear:both;

    }
}

@mixin absCenter{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

// media query manager

/* 
0-600px: phone;

600-900px: tablet-potarit 

900-1200: tablet-landscape

1200-1800 is where our normal style apply

1800px+:big desktop
*/

&mixin respond-phone{
    @media (max-width:600px) {
        @content
    
    }
}

