
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem =10px */
  /* to change default font size given by browser to 10px (10/16)*100 */
  font-size: 62.5%;
}

body {

  box-sizing: border-box;
}